body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,27,96,1) 100%);
  color: white;
  }
  .boton{
    background: #f2f2f2;
    color: black;
    border: none;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }